// ******************************* 変数 ********************************



// **********************************************************************

// ************************ @nedia ブレイクポイント ************************

//------------ スマホ ------------
$SPbreakpoint: 428px;

//----------- タブレット ----------
$TABbreakpoint: 768px;

// **********************************************************************

// ******************************* 全体系 ********************************
body {
    img {
        max-width: 100%;
        object-fit: cover;
    }
}


// **********************************************************************